#cover {
    position: absolute;
    background-color: black;
    color: white;
    text-align: center;
    z-index: 1;
    font-size: 3em;
    width: 74%;
    height: 5em;
}

#guessing-game {
    background-color: aquamarine;
    width: 74%;
    height: 15em;
}

h1 {
    text-align: center;
    border-bottom: 5px solid goldenrod;
    font-size: 1.5em;
}

p {
    line-height: 1.5;
}

ul {
    margin: 5px;
}

li {
    float: left;
    width: 2.2em;
}

img {
    float: right;
    width: 24%;
}